.html {
    width: 1480px;
    height: 1282px;
}

.change {
    width: 140px;
    height: 40px;
    font-size: 15px;
    border-radius: 3px;
    color: #4bcaff;
    background-color: #354450;
    cursor: pointer;
    border: none;
}

.change:hover {
    background-color: #7e9b7b;
    color: #f6a5b4;
}

.green {
    --p-bg-color:#7e9b7b;
    --p-color: #ff97bb;
}

.green .text {
    background-color: var(--p-bg-color);
    color: var(--p-color);
  }
  

.light {
    background-color: white;
    color: black;
}

h1 {
    margin-top: 63px;
    margin-left: 98px;
}

.logo {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    text-decoration: none;
    color: #000000;
}

.blue {
    color: #4BCAFF;
}

.conteiner {
    width: 1280px;
    margin: auto;
    margin-top: 40px;
}

.header {
    display: flex;
    justify-content: center;

}

.top-menu {
    display: flex;
    height: 69px;
}

.top-menu-list {
    display: flex;
    flex-wrap: nowrap;
    width: 1280px;
    height: 69px;
    align-items: center;
    justify-content: center;
    background-color: #35444F;
}

.top-menu-link {
    display: flex;
    padding: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

.link {
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    color: #FFFFFF;
}

.hover1:hover {
    background: #222F3A;
    padding: inherit;
    margin: -20px;
}

.content {
    display: flex;
}

.menu-photo {
    display: flex;
    background: rgba(0, 0, 0, 0.0001);
    padding: auto;
}

.nav-list {
    display: flex;
    margin-bottom: 583px;

}

.left-menu-list {
    width: 344px;
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
    margin-top: 49px;
    padding: auto;
}

.left-menu-link {
    display: flex;
    height: 81px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    align-items: center;
    justify-content: left;
    margin-left: 44px;
}

.nav-link {
    display: flex;
    text-decoration: none;
    color: #485863;
}

.hover2:hover {
    color: #000000;
    background: #DBDBDB;
    width: 342px;
    justify-content: left;
    height: 81px;
    align-items: center;
    margin-left: -44px;
    padding-left: 44px;
}

.png {
    margin-top: 49px;
    margin-left: 70px;
}

.photo {
    margin: auto;
    border: 1px solid #000000;
    padding: 90px 270px;
}

.text {
    display: flex;
    margin-top: 37px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    justify-content: left;
    margin-right: 37px;
}

.footer {
    display: flex;
    background: rgba(99, 105, 110, 0.48);
    margin-top: -54px;
    }

.footer-menu {
    display: flex;
    height: 69px;
}

.nav-footer-list {
    display: flex;
    margin: auto;
    flex-wrap: nowrap;
    justify-items: space-around;
}

.footer-list {
    display: flex;
    height: 81px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    align-items: center;
    margin: auto;
    padding: 0 30px;
}

.footer-nav-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    color: #0C1927;
}

.hover3:hover {
    color: #3181A6;
    text-decoration: underline;
}

.copyright {
    display: flex;
    margin-left: 135px;
    align-items: center;
}